{% extends 'base.html' %}

{% block title %}
Add Recipe
{% endblock %}

{% block content %}

<div class="row justify-content-center">

    <div class="col-md-8">

        <div class="card shadow">

            <div class="card-header bg-primary text-white">
                <h3>Add New Recipe</h3>
            </div>

            <div class="card-body">

                <form method="POST">

                    {% csrf_token %}

                    <div class="mb-3">
                        <label class="form-label">Title</label>
                        <input type="text" name="title" class="form-control">
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Ingredients</label>
                        <textarea name="ingredients" class="form-control" rows="4"></textarea>
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Instructions</label>
                        <textarea name="instructions" class="form-control" rows="6"></textarea>
                    </div>

                    <button type="submit" class="btn btn-success">
                        Add Recipe
                    </button>

                </form>

            </div>

        </div>

    </div>

</div>

{% endblock %}