{% extends 'base.html' %}

{% block title %}
{{ recipe.title }}
{% endblock %}

{% block content %}

<div class="row justify-content-center">

    <div class="col-md-8">

        <div class="card shadow">

            <div class="card-header bg-success text-white">
                <h2>{{ recipe.title }}</h2>
            </div>

            <div class="card-body">

                <h5>Ingredients</h5>
                <p>{{ recipe.ingredients }}</p>

                <hr>

                <h5>Instructions</h5>
                <p>{{ recipe.instructions }}</p>

                <a href="{% url 'edit_recipe' recipe.id %}" class="btn btn-warning">
                    Edit
                </a>

                <a href="{% url 'delete_recipe' recipe.id %}"
                   class="btn btn-danger">
                    Delete
                </a>

                <a href="{% url 'recipe_list' %}"
                   class="btn btn-secondary">
                    Back
                </a>

            </div>

        </div>

    </div>

</div>

{% endblock %}